/* app/login/rain.css */
.login-bg {
  background: radial-gradient(ellipse at center, #111 0%, #000 100%);
  overflow: hidden;
}

.rain {
  background-image: url('https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif');
  background-repeat: repeat;
  background-size: cover;
  opacity: 0.15;
  width: 100%;
  height: 100%;
  position: absolute;
}
